.GameBoard{
width:80%;
display: flex;
height:90vh;
flex-direction: column;

}
table{
    height: 70vh;
    gap:20px;
    align-items: center;
    width:50vw;
}
tr{
    width:40px;
    height:80px;
   
}
td{
    width:40px;
    border:2px dashed rgb(85, 85, 85);
    align-content: center;
    
    text-align: center;
 
}
td:hover{
    background-color: grey;
    cursor:pointer
}

.status{

    height:100px;
}
.turn{
  height: 80px;
  text-align: center;
}
::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }
  * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
  }
  
  body {
    background: #f1f1f1;
    font-family:helvetica neue, helvetica, arial, sans-serif;
    font-weight:200;
  
  }
  
  .notebook-paper {
    width:100%;
    height:100vh;
    align-items: center;
    justify-content: center;
    display: flex;
 
 
  
    overflow:hidden;
 
   

    }
    
  
  
      
      .tangerine-bold {
        font-family: "Tangerine", serif;
        font-weight: 700;
        font-style:normal;
        font-size: 40px;
      }
            